$rose: #E73573;

body.merry-christmas {
	background-color: #000;
	background-image: url('/images/Christmas/bg.jpg');
	background-size: cover;

	.rose {
		color: $rose;
	}

	#info {
		position: absolute;
		width: 100%;
		color: #ffffff;
		padding: 5px;
		font-family: Monospace;
		font-size: 13px;
		font-weight: bold;
		text-align: center;
		z-index: 1;
	}

	#menu {
		position: absolute;
		bottom: 20px;
		width: 100%;
		text-align: center;
	}

	.img-container:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 1px rgba($rose, 0.5);
    border: 1px solid $rose;
	}

	button {
		color: rgba(127,255,255,0.75);
		background: transparent;
		outline: 1px solid rgba(127,255,255,0.75);
		border: 0px;
		padding: 5px 10px;
		cursor: pointer;
	}
	button:hover {
		background-color: rgba(0,255,255,0.5);
	}
	button:active {
		color: #000000;
		background-color: rgba(0,255,255,0.75);
	}

	img {
		width: 300px;
		height: auto;
	}

	.letter {
		background-color: rgba(0, 0, 0, 0.2);
		position: fixed;
		width: 600px;
		height: 400px;
		color: white;
		font-size: 1.8em;
		text-align: center;
		padding: 50px 40px;

		article {
      text-align: left;
		}

		a {
    	background-color: transparent;
    	border: 2px solid $rose;
    	text-align: center;
    	padding: 10px;
    	color: $rose;
    	text-decoration: none;
    	display: inline-block;
      font-size: 0.8em;
      margin-top: 30px;

    	&:hover {
    		background-color: rgba($rose, 0.5);
    		color: white;
    	}
    }
	}
}

